{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style-admin.css">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-3.6.1.min.js"></script>
    <title>Homepage Admin</title>
</head> --}}

<body>
     <link rel="stylesheet" href="css/homeAdminPageStyle.css">
    <div class="container">
        <div class="row admin-menu-container">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <a href="#" style="text-decoration: none;">
                    <div class="wrap">
                        <div class="col-sm-3">
                            <div class="ico-wrap">
                                <img src="../images/printer.png" alt="" class="mbr-iconfont">
                            </div>
                        </div>
                        <div class="col-sm-9 vcenter">
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                    <span>In hóa đơn</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <a href="#" style="text-decoration: none;">
                    <div class="wrap">
                        <div class="col-sm-3">
                            <div class="ico-wrap">
                                <img src="../images/invoice.png" alt="" class="mbr-iconfont">
                            </div>
                        </div>
                        <div class="col-sm-9 vcenter">
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                    <span>Tạo hóa đơn</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <a href="#" style="text-decoration: none;">
                    <div class="wrap">
                        <div class="col-sm-3">
                            <div class="ico-wrap">
                                <img src="../images/edit.png" alt="" class="mbr-iconfont">
                            </div>
                        </div>
                        <div class="col-sm-9 vcenter">
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                    <span>Chỉnh sửa thực đơn hôm nay</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <a href="#" style="text-decoration: none;">
                    <div class="wrap">
                        <div class="col-sm-3">
                            <div class="ico-wrap">
                                <img src="../images/parcel.png" alt="" class="mbr-iconfont">
                            </div>
                        </div>
                        <div class="col-sm-9 vcenter">
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                    <span>Quản lý nhập hàng</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <a href="#" style="text-decoration: none;">
                    <div class="wrap">
                        <div class="col-sm-3">
                            <div class="ico-wrap">
                                <img src="../images/wholesale.png" alt="" class="mbr-iconfont">
                            </div>
                        </div>
                        <div class="col-sm-9 vcenter">
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                    <span>Quản lý kho</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <a href="#" style="text-decoration: none;">
                    <div class="wrap">
                        <div class="col-sm-3">
                            <div class="ico-wrap">
                                <img src="../images/transaction.png" alt="" class="mbr-iconfont">
                            </div>
                        </div>
                        <div class="col-sm-9 vcenter">
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                    <span>Xem lịch sử giao dịch</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <a href="#" style="text-decoration: none;">
                    <div class="wrap">
                        <div class="col-sm-3">
                            <div class="ico-wrap">
                                <img src="../images/user.png" alt="" class="mbr-iconfont">
                            </div>
                        </div>
                        <div class="col-sm-9 vcenter">
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                    <span>Quản lý thông tin người dùng</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <a href="#" style="text-decoration: none;">
                    <div class="wrap">
                        <div class="col-sm-3">
                            <div class="ico-wrap">
                                <img src="../images/money-bag.png" alt="" class="mbr-iconfont">
                            </div>
                        </div>
                        <div class="col-sm-9 vcenter">
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                    <span>Quản lý doanh thu</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</body>

</html>